@model IEnumerable<BlockChain.Entidades.Bloco>

@{
    ViewData["Title"] = "BlockChain";
    var mensagemInfo = TempData["MensagemInfo"];
}

<h1>@ViewData["Title"]</h1>

@if (mensagemInfo != null)
{
    <div class="alert alert-info" role="alert">@mensagemInfo</div>
}

<h3>Listagem</h3>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-form">
                <a class="btn btn-primary" asp-action="CriarBloco" asp-controller="Bloco">Novo bloco</a>
                <a class="btn btn-primary" asp-action="Consenso">Consenso</a>
                <a class="btn btn-primary" asp-action="ValidarCadeia">Validar blockchain</a>
            </div>
        </div>
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prova)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chave)
            </th>
            <th>
                Chave do bloco anterior
            </th>
            <th>
                Criado em
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Prova)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Bits)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Chave)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.ChaveBlocoAnterior)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.CriadoEm)
            </td>
            <td class="col-md-3">
                <div class="btn-group" role="group" aria-label="...">
                    @Html.ActionLink("Revalidar", "RevalidarBloco", "Blockchain", new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Detalhes", "Detalhes", "Blockchain", new { id = item.Id }, new { @class = "btn btn-default" })
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>